<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <a class="navbar-brand" href="/"></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item" id = "searchBar">
                <form method="get" action="/search" id = "searchTab">
                    <label for="input">Search for events/artists: </label>
                    <input type="text" id="input" name = "input"/>
                    <input type="submit" id = "submit-button" value = "Search"/>
                </form>
            </li>
        </ul>
    </div>
  </nav>
</header>